.filters {
  display: flex;
  justify-content: center;
}

.filter-food {
  background-color: white;
  border: none;
  margin: 20px;
}

.cards-cotainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}
