.filters {
  align-items: center;
  display: flex;
  justify-content: center;
}

.filter-food {
  background-color: white;
  border: none;
  height: 100px;
  margin: 20px;
}

.cards-cotainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 70px;
}
