.categories-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.category-btn {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.category-img-container {
  align-items: center;
  border: 1.811px solid #fcc436;
  border-radius: 45.28px;
  display: flex;
  height: 45.28px;
  justify-content: center;
  margin: 0 6px;
  width: 45.28px;
}

.category-btn p {
  color: #797d86;
  font-size: 9px;
  font-weight: 300;
  height: 5px;
  line-height: 9px;
  margin-top: 6px;
}

.foods-main-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 18px 0 40px;
}

.foods-main-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px;
}

.recipe-photo {
  height: 161.85px;
  order: 2;
  position: absolute;
  top: 0;
  width: 100%;
}
