.card-container {
  background-color: white;
  border: 0.517px solid #b1b1b1;
  border-radius: 5.5px;
  display: flex;
  flex-direction: column;
  height: 163.12px;
  margin: 0 5px 12px;
  width: 163.2px;
}

.card-img {
  align-self: center;
  border-radius: 5px 5px 0 0;
  height: 134.85px;
  width: 163.2px;
}

.card-name {
  color: #1a1b1c;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  margin: 7px 0 0 13px;
}
