.login-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.login-title {
  align-items: center;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: center;
  margin-bottom: 50px;
}

.login-logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.login-logo {
  height: 60px;
  width: 60px;
}

.login-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 50vh;
}

.login-form-title {
  color: var(--primary);
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  letter-spacing: 0.165em;
  line-height: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.email-input, .password-input, .login-submit-btn {
  border-radius: 5px;
  height: 40px;
  margin: 5px 0;
  width: 276px;
}

.email-input, .password-input {
  border: 0.5px solid var(--primary);
  color: var(--primary);
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
  padding: 20px;
}

.email-input:focus, .password-input:focus {
  color: var(--primary);
  outline-color: var(--primary);
}

.email-input::placeholder, .password-input::placeholder {
  color: var(--primary);
}

.login-submit-btn {
  background-color: var(--secundary);
  border: none;
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 14px;
  text-transform: uppercase;
}

.login-submit-btn:disabled {
  background-color: rgb(191, 191, 191);
  color: rgb(216, 216, 216);
  cursor: auto;
}

.login-title-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.login-title-1 {
  color: var(--secundary);
  font-size: 30px;
  font-style: italic;
  font-weight: 700;
}

.login-title-2 {
  color: var(--secundary);
  font-size: 20px;
  font-style: bold;
  font-weight: 700;
  margin-left: 5px;
}

